EXPO_PUBLIC_SUPABASE_URL=sb_publishable_csKb8EQeDIedkulS8yEJlg_mQxH5gOp
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2cHdlaWxlanp3c3N1dnFkc3ZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNzU5NjQsImV4cCI6MjA5MTk1MTk2NH0.DE15iW3ZIcWL_AlGSgZAc3I2Nxgd4YrXw75GyLdWDhY
